*{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.title{
    background-color: blueviolet;
    height: 50px;
    line-height: 50px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.choice:hover{
    cursor: pointer;
    opacity: 0.5;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#userscore ,
#compscore{
    font-size: 4rem;
}

#message{
    background-color: black;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.playmove{
    margin-top: 3rem;
}
